*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----Font-----*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,500&display=swap');
/*----------------
-------------import style--
--------------------*/
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 900px;
    margin: 0px auto;
}
img{
    width: 100%;
}
/*---------------
---------Header styles----------
----------*/
.header{
    background: rgba(255, 144, 14, 0.1);
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}
.nav-title{
    color: #da1616;
    font-weight: 700;
    font-size: 45px;
}
.logo-style{
    color: blue;
    font-weight: 800;
    font-size: 35px;
}
.nav-link ul{
    display: flex;
    gap: 40px;
    
}

.nav-link li a{
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}
/*------------
-------brans style-----
-----------------*/
.Brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
}
.Brand-title, .brand-sub-title{
    font-weight: 700;
    font-size: 55px;
    color: #131313;
    text-align: center;
    margin-bottom: 15px;
}
.Brand-description{
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: #727272;
    margin-bottom: 25px;
}
.btn-primary{
    font-weight: 600;
    font-size: 18px;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 18px;
}
.banner-photo{
    margin-bottom: 30px;
}
/*---------------------------
------------main style start---
-----------------------------*/
.main-Features{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 60px;
}
.Features-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 25px;
}
.Features-photo img{
    width: 250px;
    height: 250px;
}
.features-title{
    font-weight: 500;
    font-size: 35px;
}
.features-sub-title{
    font-weight: 600;
    font-size: 35px;
    color: #FF900E;
    margin-bottom: 15px;
}
.features-description{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #727272;
    margin-bottom: 20px;
    
}
/*---------------
-----Features you will love & enjoy-
--------------------*/
.Features-second{
    display: flex;
    gap: 80px;
    margin-top: 100px;
    
}
/*Experience button open*/
.Features-second .Experience{
    position: absolute;
    left: 650px;
    top: 2130px;
    background-color: #FF900E;
    border-radius: 5px;
    padding: 30px 45px;
}
.ex-title{
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
}
.ex-sub-title{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}
/*Experience button close*/
.features-second-title{
    font-weight: 800;
    font-size: 30px;
    font-family: sans-serif;
    color: #131313;
    padding-left: 8px;
    border-left: 5px solid rgb(240, 158, 6);
    border-radius: 5px;
}
.features-second-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 10px;
    margin-top: 10px;
}
.features-box{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.fa-box{
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #FFFFFF;
    box-shadow: inset -2px -3px #fff2f2, inset 2px 3px #f8f0f0;
    cursor: pointer;
}
.fa-title{
    font-weight: 700;
    font-size: 15px;
    color: #131313;
    margin-bottom: 10px;
}
.fa-sub-title{
    font-weight: 300;
    font-size: 14px;
    color: #727272;
}
.box1{
    flex-basis: 45%;
}
.box2{
    flex-basis: 55%;
}
/*features img*/
.Features-div img{
    height: 100vh;
    width: 100%;
   
}
/*-----------
-----------Some Facts--
--------------*/
.Some-Facts{
    margin-top: 100px;
}
.facts-title{
    font-weight: 800;
    font-size: 35px;
    color: #131313;
    margin-bottom: 15px;
}
.facts-description{
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-bottom: 60px;
}
/*-----------
-------works box styles---
----------------*/
.work-details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
   
}
.works{
    border: 1px solid gold;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 3px;
    border-radius: 10px;
}
.works img{
    width: 47.57px;
    height: 45px;
   
}
.works-title{
   color: #424242;
   margin-top: 10px;
   margin-bottom: 10px;
}
.works-sub-title{
    font-weight: 600;
    font-size: 13px;
    color: #727272;
}
.works:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid rgb(252, 13, 200);
}
/*--------------
---------Bonus box styles--
----------------*/
.bonus-title{
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 30px;
}
.bonus-conatiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.bonus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1eeee;
}
.bonus img{
    width: 100%;
   
}
.bonus-sub-title{
    display: none;
}
.bonus:hover >.bonus-sub-title{
    display: block;
}



/*--------------------
------Our Sponspors--------
------------------------*/
.Sponspors{
    margin-top: 70px;
}
.Sponspors-title{
     text-align: center;
     margin-top: 10px;
     font-weight: 700;
     font-size: 45px;
     color: #131313;
     margin-bottom: 10px;
}
.Sponspors-description{
    text-align: center;
    margin-bottom: 70px;
    color: #727272;
}
.sponspors-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.sponspors-box > div img{
    width: 100%;
    height: 40px;
    color: #727272;
}
/*-------------
-------footer------
---------------*/
.footer{
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 70px;
}
.footer-p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
}
/*--------------------
------------@media  styles-----
------------------------*/
/*Mobile devices responsive*/
@media only screen and (max-width: 576px){
    .container{
        width: 100%;
    }
    /*----Header responsive*/
    .nav-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    /*-------Main Features*/
    .main-Features{
        display: flex;
        flex-direction: column;
    }
    .Features-photo{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }
    .Features-photo img{
        width: 100%;
        
    }
    /*Features seconde*/
    .Features-second{
        display: flex;
        flex-direction: column;
    }
    /*expericence box styles*/
    .Features-second .Experience{
       position: absolute;
       left: 138px;
       top: 3612px;
    }
    /*works details styles*/
    .work-details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
    .works{
        background-color: black;
        
    }
    .works-title, .works-sub-title{
        color: #ffff;
        font-size: 30px;
    }
    .works:hover{
        transform: scale(0.8);
        cursor: pointer;
        border: 2px solid rgb(21, 252, 13);
    }
    /*bonus section style*/
    .bonus{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /*Sponspors style*/
    .sponspors-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
   
}

