*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----Font-----*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,500&display=swap');
/*----import style---*/
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 900px;
    margin: 0px auto;
}
img{
    width: 100%;
}
/*---------------
---------Header styles----------
----------*/
.header{
    background: rgba(255, 144, 14, 0.1);
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}
.nav-link ul{
    display: flex;
    gap: 40px;
}
.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 35px;
}
.nav-link li a{
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}
/*brans style*/
.Brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
}
.Brand-title, .brand-sub-title{
    font-weight: 700;
    font-size: 55px;
    color: #131313;
    text-align: center;
    margin-bottom: 15px;
}
.Brand-description{
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: #727272;
    margin-bottom: 25px;
}
.btn-primary{
    font-weight: 600;
    font-size: 18px;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 18px;
}
.banner-photo{
    margin-bottom: 20px;
}
/*---------------------------
------------main style start---
-----------------------------*/
.main-Features{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 60px;
}
.Features-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 25px;
}

.features-title{
    font-weight: 500;
    font-size: 35px;
}
.features-sub-title{
    font-weight: 600;
    font-size: 35px;
    color: #FF900E;
    margin-bottom: 15px;
}
.features-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 20px;
    margin-bottom: 15px;
}
/*---------------
-----Features you will love & enjoy-
--------------------*/
.Features-second{
    display: flex;
    gap: 80px;
    margin-top: 100px;
    
}
/*Experience button open*/
.Features-second .Experience{
    position: absolute;
    left: 650px;
    top: 1920px;
    background-color: #FF900E;
    border-radius: 5px;
    padding: 20px 25px;
}
.ex-title{
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
}
.ex-sub-title{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}
/*Experience button close*/
.features-second-title{
    font-weight: 800;
    font-size: 30px;
    font-family: sans-serif;
    color: #131313;
    padding-left: 8px;
    border-left: 5px solid rgb(240, 158, 6);
    border-radius: 5px;
}
.features-second-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 10px;
    margin-top: 10px;
}
.features-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fa-box{
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #FFFFFF;
    box-shadow: inset -2px -3px #fff2f2, inset 2px 3px #f8f0f0;
}
.fa-title{
    font-weight: 700;
    font-size: 15px;
    color: #131313;
    margin-bottom: 10px;
}
.fa-sub-title{
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}
.box1{
    flex-basis: 45%;
}
.box2{
    flex-basis: 55%;
}
/*features img*/
.Features-div img{
    height: 100vh;
    width: 100%;
   
}
